.boxBody{
    width: 33vw;
    height: 33vw;
    border: 1px solid black;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 33vw;
    vertical-align: middle;
    transition: background-size 0.5s;
}

.boxTitle{
    margin: 0;
    color: white;
    font-size: 25px;
}

.boxSubTitle{
    margin-top: calc(40px - 100%);
    color: white;
}

.boxBody:hover{
    background-size:120%;
}

.hoverContainer{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: opacity 0.5s;
}

.hoverContainer:hover{
    opacity:1;
}
