.Contact{
    position: absolute;
    display: block;
    top:397.5px;
    left:0;
    width: 225px;
    background-color: #00AEC3;
    color: white;
}
.Contact div{
    position: relative;
    display: block;
}

.Contact img{
    display: inline-block;
    position: relative;
    width: 48px;
    margin: 10px;
}
.Contact h3{
    padding: 10px;
    background-color: #375A63;
    color: #00AEC3;
}

.Contact p{
    position: relative;
    font-size: 10px;
}
