.Contact{
    position: absolute;
    display: block;
    top:360px;
    left:0;
    width: 225px;
    background-color: #00AEC3;
    color: white;
    cursor:default;
}
.Contact div{
    position: relative;
    display: block;
}

.Contact img{
    display: inline-block;
    position: relative;
    width: 40px;
    margin: 10px;
    cursor: pointer;
}
.Contact h2{
    padding: 10px;
    background-color: #375A63;
    color: #00AEC3;
}

.Contact p{
    position: relative;
    font-size: 15px;
    cursor:text;
}
