.contactBody{
  position: absolute;
  display: block;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  color: white;
  background-color: #375A63;
  text-align: center;
}

.contactBody img{
  width: 32px;
  display: inline-block;
  margin-right: 10px;
}
.contactBody p{
  display: inline-block;
  height: 32px;
  margin: 0;
  vertical-align: middle;
  margin-bottom: 5px;
  max-width: 900px;
  font-size: 12px;
  margin-right: 20px;
}

.withText{
    display: inline-block;
    opacity:0.6;
}
.withText:hover{
    opacity:1;
}
