.digitalEdgeBody{
text-align: center;
margin: 0 40px
}

.pepperImg{
  margin-left: 30px;
  float:left;
}
.pepperImg img:first-child{
  height: 500px;
   display: inline-block;
}
.pepperImg img:nth-child(2){
    position: absolute;
    top:270px;
    left: 190px;
  height: 40px;
}

.digitalEdgeBody h1{
  position: relative;
  display: inline-block;
  margin-top: 5vw;
}
