.downloadPageBody{
    position: fixed;
    top: 0;
    right:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.dowloadList{
    position: fixed;
    top: 7vh;
    right:30vw;
    left: 30vw;
    bottom: 7vh;
    background-color: #ffffff;
}
