.educationBody{
    margin: -15px 0;
    height: auto;
    margin-top: 20px;
}
.educationContainer{
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    scroll-behavior: smooth;
    padding: 25px 0;
    overflow-x: scroll;
    overflow-y: visible;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.educationContainer::-webkit-scrollbar {
    display: none;
}

.education{
    display: inline-block;
    position: relative;
    vertical-align:top;
    margin: 10px;
}

.arrowsEducation{
    position: absolute;
    bottom: 202px;
    width: 64px;
    cursor: pointer;
    z-index: 3;
}
#firstArrowEducation{
      left:10px;
}
#secondArrowEducation{
       right:10px;
}

.educationBody h1{
  margin: 0px 10px;
}

.educationBody h3{
  margin: 20px 10px;
  color: #344346;
}
