.educationBody{
    padding: 10px 20px;
    height: auto;
}
.educationContainer{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    scroll-behavior: smooth;
}

.education{
    display: inline-block;
    position: relative;
    vertical-align:top;
    margin: 0px 10px;
}

.arrowsEducation{
    position: absolute;
    bottom: 142px;
    width: 64px;
    cursor: pointer;
    z-index: 3;
}
#firstArrowEducation{
      left:10px;
}
#secondArrowEducation{
      right:20px;
}

.educationBody h1{
  margin: 0px 10px;
  min-width: 437px;
}

.educationBody h3{
  margin: 20px 10px;
  min-width: 437px;
  color: #375A63;
}
