.ericssonBody{
  height: auto;
  background-image: url("./../img/kista3.jpg");
  background-size: cover;
  background-position: center;
  color:var(--white);
}

.ericssonBody h1{

}

.ericssonBody div{
  text-align: center;
  padding: 4% 15%;
}
