:root {
  --sky: #94C3F1;
  --tree: #344346;
  --water: #79B0D9;
  --shirt: #3D4D81;
  --white: #ffffff;
}

html {
  scroll-behavior: smooth;
}
.body{
    position: absolute;
    top:0;
    right:0;
    left:0;
    display: block;
    background-color: var(--white);
    z-index: 0;
    color: var(--tree);
    font-family: Verdana;
    overflow-x: hidden;
}

.navigationMenu{
    position: absolute;
    left:0;
    top:0;
    z-index: 4;
}

.WelcomeSection{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("./../img/welcome_colors.jpg");
    background-size: cover;
    background-position: center;
}

.experiancesSections{
    position: relative;
    width: 100%;
    display: block;
    height: auto;
    clear: both;
    text-align: center;

}
