
.FrontPage{
    position: absolute;
    display: block;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    overflow-y: hidden;
    z-index: 0;
    color: white;
}
.NavigationBar{
    position: absolute;
    top:0;
    left:0;
    right:17px;
    height: 70px;
    z-index: 2;
    overflow: hidden;
}

.body{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    z-index: 1;
}

.WelcomeSection{
    position: relative;
    width: 100vw;
    height: 500px;
    background-image: url("./../img/welcome.jpg");
    background-size: cover;
    background-position: center;
}

.Resume{
    position: relative;
    width: 100vw;
    height: 870px;
    overflow-x: hidden;
    background-size: 100vw 970px;
    background-attachment: local;
    background-repeat: no-repeat;
    transition:all 0.6s ease;
    overflow:auto;
}

.paper{
  /* layout */
  position: relative;
  width: 630px;
  height: 770px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;

  /* design */
  background-color: white;
}

.MeSection{
    position: relative;
    width: 100vw;
    height: 500px;
    background-color: blue;
}
.WebSection{
    position: relative;
    width: 100vw;
    height: 500px;
    background-color: green;
}
.AppsSection{
    position: relative;
    width: 100vw;
    height: 500px;
    background-color: blue;
}
.ServiceSection{
    position: relative;
    width: 100vw;
    height: 500px;
    background-color: green;
}
