.meBody{
  height: auto;
}
.infoContainer{
  position: relative;
  margin: auto;
  text-align: center;
  padding: 0px 10%;

}

.infoContainer h3{
    color: #375A63;
}

.readMoreContainer{
  position: relative;
  float: right;
  cursor: pointer;
}
.readMoreContainer img{
  height: 64px;
  display: inline-block;

}

.readMoreContainer h3{
display: inline-block;
vertical-align: top;

}
