.meBody{
  height: auto;
}
.infoContainer{
  position: relative;
  margin: auto;
  text-align: center;
  padding: 0px 10%;
}

.infoContainer h3{
    color: #344346;

}

.readMoreContainer{
    display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: #344346;
  padding: 0 15px;
  border-radius: 40px;
  margin-bottom: 15px;
}
.readMoreContainer img{
  height: 48px;
  display: inline-block;

}

.readMoreContainer h3{
display: inline-block;
vertical-align: top;
color:white;
}
