.meBody{
  height: auto;
}
.infoContainer{
  position: relative;
  margin: auto;
  text-align: center;
  padding: 10px 5%;
}

.infoContainer h3{
    color: var(--tree);
    font-size:calc(0.7vw + 2.1vh);
    margin: 0;

}

.infoContainer h1{
  font-size:calc(1vw + 2.9vh);
    margin: 0;
}

.readMoreContainer{
    display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: var(--tree);
  padding: 0 15px;
  border-radius: 40px;
  margin-bottom: 15px;
}
.readMoreContainer img{
  height: 48px;
  display: inline-block;

}

.readMoreContainer h3{
display: inline-block;
vertical-align: top;
color:white;
}
