.workBody{
text-align: center;
}

.pepperImg{
  margin-left: 30px;
  float:left;
  display: flex;
}
.pepperImg img:first-child{
  height: calc(40vh + 20vw);
   display: inline-block;
}
.pepperImg img:nth-child(2){
    position: absolute;
    top:calc((40vh + 20vw)*0.55);
    left: calc((40vh + 20vw)*0.25 + 30px);
    height:calc((40vh + 20vw)*0.08);;
}


.workBody h1{
  position: relative;
  margin-top: 5vw;
  margin-bottom: 0;
  display: block;



}

.digitalEdgeBody h3{
  margin: 30px;
  margin-top: 5px;
}



.ericsson{
  height: auto;
  background-image: url("./../img/kista.jpg");
  background-size: cover;
  background-position: center;

}

.ericsson h3{
  margin-top: 5px;
  color:#ffffff;
}


.ericsson div{
  text-align: center;
  padding: 4% 15%;
}


.space{
  height: auto;
  background-image: url("./../img/northlights.jpg");
  background-size: cover;
  background-position: center;

}

.space h3{
  margin-top: 5px;
  color:#ffffff;
}


.space div{
  text-align: center;
  padding: 4% 15%;
}
