
.left_side{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 405px;
    background-color: #00AEC3;
    color:white;
}
.left_side div{
    display: block;
}

.Me{
    width: 225px;
    height: 397.5px;
    background-color: #375A63;
}

.name{
    display: block;
    font-size: 25px;
}
.profession{
    display: block;
    font-size: 20px;
}
.profilePic{
    width: 150px;
    height: 150px;
    border: 12px double #00AEC3;
    border-radius: 500px;
    background-color: white;
    margin-top: 30px;
}

.Hobbies{
    margin-top: 240px;
}

.Hobbies h2{
    padding: 10px;
    background-color: #375A63;
    color: #00AEC3;
}

.Hobbies img{
    width: 48px;
    margin: 0px 4px;
}

.right_side{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 225px;
    color:#00AEC3;
}
