.Me{
    position: absolute;
    top:0;
    left:0;
    width: 150px;
    height: 265px;
    background-color: #00AEC3;

}

.name{
    color: #375A63;
    font-size: 20px;
}
.profession{
    padding: 10px;
    background-color: #375A63;
    color: #00AEC3;

}
.profilePic{
    width: 100px;
    height: 100px;
    border: 8px double #00AEC3;
    border-radius: 500px;
    background-color: white;
    margin-top: 30px;
}

.Contact{
    position: absolute;
    display: block;
    top:265px;
    left:0;
    width: 150px;
    background-color: #00AEC3;
    color: white;
}
.Contact div{
    position: relative;
}

.Contact img{
    
    width: 24px;
}

.Contact p{
    position: relative;

    font-size: 10px;
}
