.serviceBody{
    height: auto;
    margin: -15px 0;
    margin-top: 0;
}
.serviceContainer{
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    scroll-behavior: smooth;
    padding: 25px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}

.serviceContainer::-webkit-scrollbar {
    display: none;
}

.service{
    display: inline-block;
    position: relative;
    vertical-align:top;
    margin: 10px;
}

.arrowsService{
    position: absolute;
    bottom: 222px;
    width: 64px;
    cursor: pointer;
    z-index: 3;
}
#firstArrowService{
      left:10px;
}
#secondArrowService{
       right:10px;
}

.serviceBody h1{
  margin: 0px 10px;
}

.serviceBody h3{
  display: block;
  margin: 10px;
  color: var(--tree);
}

.quote{
    position: relative;
  display: inline-block;
  max-width: 300px;
  margin:10px;
  vertical-align: middle;
  color: var(--tree);
}

.quote a{
  margin: 0;
  color: var(--tree);
  text-decoration: none;
}
