.serviceBody{
    height: auto;
    padding: 10px 20px;

}
.serviceContainer{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    scroll-behavior: smooth;
}

.service{
    display: inline-block;
    position: relative;
    vertical-align:top;
    margin: 0px 10px;
}

.arrowsService{
    position: absolute;
    bottom: 142px;
    width: 64px;
    cursor: pointer;
    z-index: 3;
}
#firstArrowService{
      left:10px;
}
#secondArrowService{
      right:20px;
}

.serviceBody h1{
  margin: 0px 10px;
}

.serviceBody h3{
  display: block;
  margin: 10px;
  color: #375A63;
}

.quote{
  display: inline-block;
  width: 300px;
  margin:10px;
  vertical-align: middle;
  color: #375A63;
}

.quote p{
  margin: 0;
}
