.skillsBody{
text-align: center;
margin: -15px 0;
height: auto;
margin-top: 20px;
}


.skill{
	text-align: left;
	position: relative;
	display: inline-block;
	vertical-align: text-top;
	margin-left: 30px;
	margin-right: 30px;

}

.bigCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
}

.bigCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.skill h3{
	text-align: center;
}

.skill img{
	height: calc(16vh + 11vw);
}
