.SmallBlock{
    width:200px;
    height: 350px;
    text-align: center;
    background-color: gray;
    color: black;
    border-radius: 10px;
    white-space: normal;
}

.SmallBlock img{
    margin-top: 24px;
    width: 144px;
}

.SmallBlock p{

}
