
.welcomeBody{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    color:var(--white);
    background-image: url("./../img/welcome_colors.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}
/* .coverOver{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background-image: url("./../img/scribble_white.png");
    background-size: cover;
    background-position: center;
} */

.infoContainerWelcome{
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0;
  padding: 20px 7%;
  background-color: var(--whiteDust);
}

.infoContainerWelcome h3{
  color: var(--tree);
  font-size:calc(0.6vw + 2.1vh);
  margin: 0;
}

.infoContainerWelcome h1{
  font-size:calc(1vw + 2.9vh);
    margin: 0;
}

.welcomeBody img:hover{
    bottom:0;
}

.welcomeBody img {
    position: absolute;
    width: calc(4vw + 5vh);
    height: calc(4vw + 5vh);
    cursor: pointer;
    bottom: 4%;
    left: 0;
    right: 0;
    transition: 0.5s;
    margin: auto;
}

/* .barcaContainer{
    position: relative;
    display: block;
    margin: 0;
    margin-top: calc(15vw);
    margin-left: calc(50vw - 50px);
    z-index: 3;
    //margin-top: calc(120px + 9vw);
}

.barcaContainer p{
  font-size: calc(2vh + 1vw);
    //font-size: calc(2.7vh + 1.4vw);
    margin: 10px;
    min-width: 223px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */
