.welcomeBody{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    color:var(--white);
}


.welcomeText{
    position: relative;
    text-align: center;
    margin-top: 390px;
    font-size: 30px;
}

.welcomeText img {
    cursor: pointer;
    transition: 0.5s;
}

.welcomeText p {
    margin-bottom: 0;
}
