
.welcomeBody{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    color:#ffffff;
    background-image: url("./../img/welcome_colors.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}
.coverOver{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    background-image: url("./../img/scribble_white.png");
    background-size: cover;
    background-position: center;
}

.infoContainerWelcome{
  position: absolute;
  bottom: 0;
  text-align: center;
  margin: 0;
  padding: 20px 7%;
  background-color: #f2f2f2;
}

.infoContainerWelcome h3{
  color: #344346;
  font-size:calc(0.6vw + 2.1vh);
  margin: 0;
}

.infoContainerWelcome h1{
  font-size:calc(1vw + 2.9vh);
    margin: 0;
}

.welcomeBody img:hover{
    bottom:0;
}

.welcomeBody img {
    position: absolute;
    width: calc(4vw + 5vh);
    height: calc(4vw + 5vh);
    cursor: pointer;
    bottom: 4%;
    left: 0;
    right: 0;
    transition: 0.5s;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -o-transition:0.5s;
    margin: auto;
}

.barcaContainer{
    position: absolute;
    display: block;
    top:0;
    right:0;
    /* margin: 0;
    margin-top: calc(15vw);
    margin-left: calc(50vw - 50px); */
    z-index: 3;
}

.barcaContainer p{
    font-size: calc(0.7vw + 1.4vh);
    margin: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width:calc((0.1vw + 0.2vh) * 60/2.5);
    height: calc((0.1vw + 0.2vh) * 34/2.5);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.5s;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -o-transition:0.5s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc((0.1vw + 0.2vh) * 26/2.5);
  width: calc((0.1vw + 0.2vh) * 26/2.5);
  left: calc((0.1vw + 0.2vh) * 4/2.5);
  bottom: calc((0.1vw + 0.2vh) * 4/2.5);
  background-color: white;
  transition: 0.5s;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -o-transition:0.5s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc((0.1vw + 0.2vh) * 26/2.5));
  -ms-transform: translateX(calc((0.1vw + 0.2vh) * 26/2.5));
  transform: translateX(calc((0.1vw + 0.2vh) * 26/2.5));
}

.slider.round {
  border-radius: calc((0.1vw + 0.2vh) * 34/2.5);
}

.slider.round:before {
  border-radius: 50%;
}
