.workBody{
text-align: center;
}

.pepperImg{
  margin-left: 30px;
  float:left;
  display: flex;
}
.pepperImg img:first-child{
  height: calc(30vh + 15vw);
   display: inline-block;
}


.lunicore_DigitalEdge{
	padding-top: 0px;
	padding-bottom: 50px;
}

.lunicore_DigitalEdge h2{
	margin-top: 50px;
	margin-bottom: 5px;
}

.lunicore_DigitalEdge h4{
  margin-top: 5px;
  margin-bottom: 0;
}

.lunicore_DigitalEdge p{
  margin-top: 5px;
  margin-bottom: 0;
}


.ericsson{
  height: auto;
  background-image: url("./../../img/kista_blur.jpg");
  background-size: cover;
  background-position: top;

}


.ericsson h2{
  margin-bottom: 5px;
}

.ericsson h4{
  margin-top: 5px;
  margin-bottom: 0;
  color:#ffffff;
}

.ericsson p{
  margin-top: 5px;
  margin-bottom: 0;
  color:#ffffff;
}


.ericsson div{
  text-align: center;
  padding: 4% 15%;
}


.space{
  height: auto;
  background-image: url("./../../img/northlights.jpg");
  background-size: cover;
  background-position: center;
	margin-top: 20px;
}

.space h2{
  margin-bottom: 5px;
}


.space h4{
  margin-top: 5px;
  margin-bottom: 0;
  color:#ffffff;
}

.space p{
  margin-top: 5px;
  margin-bottom: 0;
  color:#ffffff;
}


.space div{
  text-align: center;
  padding: 4% 15%;
}
