.involvementBody{

}

.involvementBody h1{
	color: rgb(33, 191, 117);
}

.involvementBody h4{
	color: white;
}

.involvementBody p{
	color: white;
}

.ewb{
	background-image: url("./../../img/ewb_blur.jpg");
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
	vertical-align: middle;

}

.ewb h2{
	margin-top: 20%;
}

.fadder_farad{
	background-image: url("./../../img/fadder_arkad_blur.jpg");
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
	vertical-align: top;

}

.Farad{
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}

.fadder{
	position: absolute;
	top: 0;
}
