.projectsBody{
    margin: -15px 0;
    height: auto;
    margin-top: 0;
}

.projectsBody h1{
    color: rgb(143, 33, 191);
	margin-bottom: 0;
}

.projectsContainer{
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    scroll-behavior: smooth;
    padding: 0;
    overflow-x: scroll;
    overflow-y: visible;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.projectsContainer::-webkit-scrollbar {
    display: none;
}

.projects{
    display: inline-block;
    position: relative;
    vertical-align:top;
    margin: 20px;
}

.arrowsProjects{
    position: absolute;
    bottom: 182px;
    width: 64px;
    cursor: pointer;
    z-index: 3;
}
#firstArrowProjects{
      left:10px;
}
#secondArrowProjects{
      right:10px;
}
